<div>
  <div>
    <h1>Partidas</h1>
    <% if (locals.errors) { %>
      <div class="errors">
        Necesitas arreglar los siguiente errores:
        <ul>
          <% errors.forEach(error => { %>
            <li><%= error.message %></li>
          <% }); %>
        </ul>
      </div>
    <% } %>
  </div>
  <div>
    <table>
      <tr>
        <th>Fecha</th>
        <th>Deporte</th>
        <th>Club</th>
        <th>Inscritos</th>
        <th>Acciones</th>
      </tr>
      <% matches.forEach(match => { %>
        <% match.playersCount = 0 %>
        <% alreadyIn = false %>
        <% userMatches.forEach(userMatch => { %>
          <% if (userMatch.match.id == match.id) { %>
            <% match.playersCount++ %>
            <% if (userMatch.user.id == user.id) { %>
              <% alreadyIn = true %>
            <% } %>
          <% } %>
        <% }) %>
        <tr>
          <td><a href="<%= matchUrl(match) %>"><%= match.displayDate %></a></td>
          <% if (match.sport) { %>
            <td><%= match.sport.name %></td>
          <% } else { %>
            <td>Por definir</td>
          <% } %>
          <% if (match.club) { %>
            <td><%= match.club.name %></td>
          <% } else { %>
            <td>Por definir</td>
          <% } %>
          <td><%= match.playersCount %></td>
          <td>
            <% if (!match.isFull()) { %>
            <form action="<%= joinMatchUrl(match) %>" method="post">
              <input type="submit" value="Unirse" <%= alreadyIn ? 'disabled' : '' %>/>
            </form>
            <% } else { %>
              Full
            <% } %>
          </td>
        </tr>
      <% }) %>
    </table>
  </div>
  <div>
    <a href="<%= newMatchUrl %>"> Crear Partida </a>
  </div>
</div>
