<div>
  <div>
    <h1>Match: <%= match.id %> </h1>
    <h2>Fecha: <%= match.date %></h2>
    <h2>Deporte: <%= match.sport.name %></h2>
    <h2>Club: <%= match.club.name %>, <%= match.club.adress %></h2>
    <button onclick="showRoute()">¿Cómo llego?</button>
  </div>
  <div>
    <h2>Inscritos:</h2>
    <ul>
      <% players.forEach(player => { %>
        <li><%= player.user.username %></li>
      <% }) %>
    </ul>
  </div>
  <div>
    <a href="<%= editMatchUrl %> ">Editar</a>
  </div>
  <div>
    <form action="<%= indexUrl %>" method="get">
      <div>
        <input type="submit" value="Volver" />
      </div>
    </form>
  </div>
  <div>
    <form action="<%= deleteMatchUrl %>" method="post">
      <input type="hidden" name="_method" value="delete" />
      <input type="submit" value="Borrar" />
    </form>
  </div>
</div>
