<div>
  <div>
    <h1>Club: <%= club.name %> </h1>
    <h2>Dirección: <%= club.address %></h2>
  </div>
  <div>
    <table>
      <tr>
        <th>Deporte</th>
        <% if (isAdmin) { %>
          <th>Acciones</th>
        <% } %>
      </tr>
      <% clubSports.forEach((clubSport) => { %>
        <tr>
        <td> <%= clubSport.sport.name %> </td>
        <% if (isAdmin) { %>
          <td>
            <form action="<%= removeSportUrl %> " method="post">
              <input type="hidden" name="_method" value="delete" />
              <input type="hidden" name="sportid" value="<%= clubSport.sport.id %>" />
              <input type="submit" value="Borrar"/>
            </form>
          </td>
        <% } %>
        </tr>
      <% }) %>
    </table>
  </div>
  <div>
    Agregar un deporte:
    <form action="<%= addSportUrl %>" method="post">
      <div>
        Deporte: <select name='sportid'>
              <% sports.forEach((sport) => { %>
                <option value="<%= sport.id %>"><%= sport.name %></option>
              <% }) %>
             </select>
          <div>
      </div>
      <div>
        <input type="submit" name="add" value="Agregar Deporte" />
      </div>
    </form>
  </div>
  <% if (isAdmin) { %>
    <div>
      <a href="<%= editClubUrl %> ">Editar</a>
    </div>
  <% } %>
  <form action="<%= deleteClubUrl %>" method="post">
    <input type="hidden" name="_method" value="delete" />
    <input type="submit" name="delete" value="Borrar" />
  </form>
  <form action="<%= indexUrl %>" method="get">
    <div>
      <input type="submit" value="Volver" />
    </div>
  </form>
</div>
