<div>
  <div>
    <h1>Club: <%= club.name %> </h1>
    <h2>Dirección: <%= club.address %></h2>
  </div>
  <div>
    <ul>
      <% clubSports.forEach((clubSport) => { %>
        <li> <%= clubSport.sport.name %> </li>
      <% }) %>
    </ul>
  </div>
  <% if (isAdmin) { %>
    <div>
      <a href="<%= editClubUrl %> ">Editar</a>
    </div>
  <% } %>
  <form action="<%= deleteClubUrl %>" method="post">
    <input type="hidden" name="_method" value="delete" />
    <input type="submit" name="delete" value="Borrar" />
  </form>
  <form action="<%= indexUrl %>" method="get">
    <div>
      <input type="submit" value="Volver" />
    </div>
  </form>
</div>
