<div>
  <div>
    <h1>Club: <%= club.name %> </h1>
    <h2>Dirección: <%= club.address %></h2>
  </div>
  <div>
    <table class="index">
      <tr>
        <th>Deporte</th>
        <th>Precio</th>
        <th>Unidad de tiempo</th>
      </tr>
      <% clubSports.forEach((clubSport) => { %>
        <tr>
        <td> <%= clubSport.sport.name %> </td>
        <td> <%= clubSport.priceDisplay() %> </td>
        <td> <%= clubSport.timeUnit %> </td>
        <% if (isAdmin) { %>
          <td class="actions">
            <form action="<%= removeSportUrl %>" method="post">
              <input type="hidden" name="_method" value="delete" />
              <input type="hidden" name="sportid" value="<%= clubSport.sport.id %>" />
              <input type="submit" value="Borrar"/>
            </form>
          </td>
        <% } %>
        </tr>
      <% }) %>
    </table>
  </div>
  <% if (isAdmin) { %>
  <div id='react-club'> </div>
  <div class="buttons">
    <div>
      <a class="btn left" href="<%= editClubUrl %> ">Editar</a>
    </div>
    <br />
    <br />
    <div>
      <form action="<%= deleteClubUrl %>" method="post">
        <input type="hidden" name="_method" value="delete" />
        <input class="right" type="submit" name="delete" value="Eliminar" />
      </form>
    </div>
    <% } %>
    <div>
      <form action="<%= indexUrl %>" method="get">
        <div class="hide-overflow">
          <input class="left" type="submit" value="Volver" />
        </div>
      </form>
    </div>
  </div>
</div>
