<div>
  <div>
    <h3>Hola <%= user.username %></h3>
  </div>
  <div>
    <div>
      <h4>Datos de usuario</h4>
      <div>
        Usuario: <%= user.username %>
      </div>
      <div>
        Mail: <%= user.mail %>
      </div>
    </div>
    <div>
      <h4>Datos personales</h4>
      <div>
        Nombre: <%= user.name %>
      </div>
      <div>
        Apellido: <%= user.surname %>
      </div>
      <div>
        RUT: <%= user.pid %>
      </div>
    </div>
    <% if (user.photoId) { %>
      <div>
        Foto carné:
      </div>
    <% } else %>
      <div>
        Sube tu foto de carné, ¡encontrarás más partidas!
      </div>
  </div>
  <div>
    <div>
      <form action="<%= editUrl %>" method="get">
          <input type="submit" value="Editar perfil"/>
      </form>
    </div>
    <div>
      <form action="<%= logoutUrl %>" method="post">
          <input type="submit" value="Desconectarse"/>
      </form>
    </div>
    <div>
      <form action="<%= startUrl %>" method="get">
          <input type="submit" value="Jugar"/>
      </form>
    </div>
  </div>
</div>
