<div>
  <div>
    <h1> Equipo:  <%= team.name %> </h1>
    <h1> Deporte que practican:  <%= sport.name %> </h1>
  <% if (locals.errors) { %>
    <div class="errors">
      Necesitas arreglar los siguiente errores:
      <ul>
        <% errors.forEach(error => { %>
          <li><%= error.message %></li>
        <% }); %>
      </ul>
    </div>
  <% } %>
  </div>
  <div>
    <ul>
      <% members.forEach((m) => { %>
        <li> <%= m.user.name %> </li>
      <% }) %>
    </ul>
  </div>
  <div>
    <a href="<%= editTeamUrl %> ">Editar</a>
  </div>
  <div>
    <div>
      <form action="<%= deleteTeamUrl %>" method="post">
        <input type="hidden" name="_method" value="delete" />
        <input type="submit" name="delete" value="Borrar" />
      </form>
    </div>
    <div>
      <form action="<%= indexUrl %>" method="get">
        <input type="submit" value="Volver" />
      </form>
    </div>
    <div>
      Agregar un nuevo miembro:
      <form action="<%= addMemberUrl %>" method="post">
        <div>
          <label for="name">Nombre de usuario</label>
          <input type="text" name="name" value="" />
        </div>
        <div>
          <input type="submit" name="add" value="Agregar miembro" />
        </div>
      </form>
    </div>
    <div>
      Eliminar un miembro:
      <form action="<%= removeMemberUrl %>" method="post">
        <input type="hidden" name="_method" value="delete" />
        <div>
          <label for="name">Nombre de usuario</label>
          <input type="text" name="name" value="" />
        </div>
        <div>
          <input type="submit" name="add" value="Eliminar miembro" />
        </div>
      </form>
    </div>
  </div>
</div>
