<h1> Equipo:  <%= team.name %> </h1>

<ul>
  <% members.forEach((m) => { %>
    <li> <%= m.user.name %> </li>
  <% }) %>
</ul>

<a href="<%= editTeamUrl %> ">Editar</a>

<form action="<%= deleteTeamUrl %>" method="post">
  <input type="hidden" name="_method" value="delete" />
  <input type="submit" name="delete" value="Borrar" />
</form>
<form action="<%= indexUrl %>" method="get">
  <input type="submit" value="Volver" />
</form>
