<h1> Equipo:  <%= team.name %> </h1>
<h1> Deporte que practican:  <%= sport.name %> </h1>

<% if (locals.errors) { %>
  <div class="errors">
    Necesitas arreglar los siguiente errores:
    <ul>
      <% errors.forEach(error => { %>
        <li><%= error.message %></li>
      <% }); %>
    </ul>
  </div>
<% } %>

<ul>
  <% members.forEach((m) => { %>
    <li> <%= m.user.name %> </li>
  <% }) %>
</ul>

<a href="<%= editTeamUrl %> ">Editar</a>

<form action="<%= deleteTeamUrl %>" method="post">
  <input type="hidden" name="_method" value="delete" />
  <input type="submit" name="delete" value="Borrar" />
</form>
<form action="<%= indexUrl %>" method="get">
  <input type="submit" value="Volver" />
</form>
Agregar un nuevo miembro:
<form action="<%= addMemberUrl %>" method="post">
  <div>
    <label for="name">Nombre de usuario</label>
    <input type="text" name="name" value="" />
  </div>
    <input type="submit" name="add" value="Agregar miembro" />
</form>
Eliminar un miembro:
<form action="<%= removeMemberUrl %>" method="post">
  <input type="hidden" name="_method" value="delete" />
  <div>
    <label for="name">Nombre de usuario</label>
    <input type="text" name="name" value="" />
  </div>
    <input type="submit" name="add" value="Eliminar miembro" />
</form>
