<div>
  <div>
    <h1> Equipo:  <%= team.name %> </h1>
    <% if (sport) {%>
      <h2> Deporte:  <%= sport.name %> </h2>
    <% } else { %>
      <h2> Deporte: Por definir</h2>
    <% } %>
  </div>
  <div>
    <h2>Miembros</h2>
    <table class="index">
      <tr>
        <th> </th>
        <th>Nombre</th>
      </tr>
      <% members.forEach((member) => { %>
        <tr>
        <td class="memberPicture"> <img class="memberPicture" src="<%= member.user.photoId%>" alt="Foto"></td>
        <td><%= member.user.name + ' ' + member.user.surname %></td>
        <% if (isAdmin) { %>
        <td class="actions">
          <form action="<%= removeMemberUrl %> " method="post">
            <input type="hidden" name="userid" value="<%= member.user.id %>" />
            <input type="hidden" name="_method" value="delete" />
            <input type="submit" value="Borrar"/>
          </form>
        </td>
        <% } %>
        </tr>
      <% }) %>
    </table>
  </div>
  <div>
    <div>
      <form action="<%= addMemberUrl %>" method="post">
        <div>
          <input type="text" name="name" placeholder="Nombre de usuario" />
          <input type="submit" name="add" value="Agregar miembro" />
        </div>
      </form>
    </div>
    <div>
      <a class="btn left" href="<%= editTeamUrl %> ">Editar</a>
    </div>
    <br />
    <br />
    <div>
      <form action="<%= deleteTeamUrl %>" method="post">
        <input type="hidden" name="_method" value="delete" />
        <input class="right" type="submit" name="delete" value="Eliminar" />
      </form>
    </div>
    <div>
      <form class="hide-overflow" action="<%= indexUrl %>" method="get">
        <input class="left" type="submit" value="Volver" />
      </form>
    </div>
  </div>
</div>
