<div>
  <div>
    <h1> Equipo:  <%= team.name %> </h1>
    <% if (sport) {%>
      <h1> Deporte que practican:  <%= sport.name %> </h1>
    <% } else { %>
      <h1> Aún no seleccionan un deporte </h1>
    <% } %>
  </div>
  <div>
    <table>
      <tr>
        <th>Nombre</th>
        <% if (isAdmin) { %>
        <th>Acciones</th>
        <% } %>
      </tr>
      <% members.forEach((m) => { %>
        <tr>
        <td> <%= m.user.name %> </td>
        <% if (isAdmin) { %>
        <td>
          <form action="<%= removeMemberUrl %> " method="post">
            <input type="hidden" name="userid" value="<%= m.user.id %>" />
            <input type="hidden" name="_method" value="delete" />
            <input type="submit" value="Borrar"/>
          </form>
        </td>
        <% } %>
        </tr>
      <% }) %>
    </table>
  </div>
  <div>
    <a href="<%= editTeamUrl %> ">Editar</a>
  </div>
  <div>
    <div>
      <form action="<%= deleteTeamUrl %>" method="post">
        <input type="hidden" name="_method" value="delete" />
        <input type="submit" name="delete" value="Borrar" />
      </form>
    </div>
    <div>
      <form action="<%= indexUrl %>" method="get">
        <input type="submit" value="Volver" />
      </form>
    </div>
    <div>
      Agregar un nuevo miembro:
      <form action="<%= addMemberUrl %>" method="post">
        <div>
          <label for="name">Nombre de usuario</label>
          <input type="text" name="name" value="" />
        </div>
        <div>
          <input type="submit" name="add" value="Agregar miembro" />
        </div>
      </form>
    </div>
  </div>
</div>
